# User specific
mobile_app/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Logs and Data
*.log
detections.jsonl
chroma_db/

# Large files
*.pt

# Tests
tests/
run_app.ps1
test_audio_thread.py
trigger_import_error.py
